.unordered-list li {
  list-style-type: none;
  background-color: var(--col-background);
  padding: var(--spacing-sm) 0;
  border-bottom: 1px solid var(--col-background-20);
}

.unordered-list li:last-of-type {
  border-bottom: none;
}

.unordered-list li:hover {
  background-color: var(--col-background-10);
}
