:root {
  --swatch-gray-100: #262626;
  --swatch-gray-90: #424242;
  --swatch-gray-80: #505050;
  --swatch-gray-70: #636363;
  --swatch-gray-60: #7f7f7f;
  --swatch-gray-50: #959595;
  --swatch-gray-40: #a3a3a3;
  --swatch-gray-30: #c3c3c3;
  --swatch-gray-20: #e1e1e1;
  --swatch-gray-10: #f3f3f3;

  --swatch--100: #082b29;
  --swatch-cyan-90: #0e4a46;
  --swatch-cyan-80: #115a55;
  --swatch-cyan-70: #146e68;
  --swatch-cyan-60: #198e86;
  --swatch-cyan-50: #1da69e;
  --swatch-cyan-40: #24b6ae;
  --swatch-cyan-30: #4bd7cf;
  --swatch-cyan-20: #a0f0eb;
  --swatch-cyan-10: #dffaf8;

  --swatch-lime-100: #0b2d09;
  --swatch-lime-90: #124d0f;
  --swatch-lime-80: #165d12;
  --swatch-lime-70: #1b7316;
  --swatch-lime-60: #24931d;
  --swatch-lime-50: #2dab24;
  --swatch-lime-40: #34bc2b;
  --swatch-lime-30: #49df41;
  --swatch-lime-20: #abf3a7;
  --swatch-lime-10: #e1fbe0;

  --swatch-red-100: #4e0e11;
  --swatch-red-90: #82181d;
  --swatch-red-80: #9d1c23;
  --swatch-red-70: #ba2b32;
  --swatch-red-60: #d95056;
  --swatch-red-50: #e77075;
  --swatch-red-40: #eb878c;
  --swatch-red-30: #f3b4b7;
  --swatch-red-20: #f9dbdd;
  --swatch-red-10: #fcf0f0;

  --swatch-white: #fdfdfd;
  --swatch-black: #004040;

  --base-size: 1rem;
  --base-scaler:  1.6;
  --base-line-height-body: 1.4;
  --base-line-height-header:  1.3;
  --scaler-pow-2: calc( var(--base-scaler) * var(--base-scaler));
  --scaler-pow-3: calc( var(--scaler-pow-2) * var(--base-scaler));
  --scaler-pow-4: calc( var(--scaler-pow-3) * var(--base-scaler));

  --spacing-3xs: calc(var(--base-size) / var(--scaler-pow-4));
  --spacing-2xs: calc(var(--base-size) / var(--scaler-pow-3));
  --spacing-xs: calc(var(--base-size) / var(--scaler-pow-2));
  --spacing-sm: calc(var(--base-size) / var(--base-scaler));
  --spacing-md: var(--base-size);
  --spacing-lg: calc(var(--base-size) * var(--base-scaler));
  --spacing-xl: calc(var(--base-size) * var(--scaler-pow-2));
  --spacing-2xl: calc(var(--base-size) * var(--scaler-pow-3));
  --spacing-3xl: calc(var(--base-size) * var(--scaler-pow-4));

  --size-border-radius: var(--border-radius, var(--spacing-xs));

  --col-text: var(--color-text, var(--swatch-gray-100));
  --col-text-on-color:  var(--color-text-on-color, var(--swatch-white));
  --col-background: var(--color-background, var(--swatch-white));

  --col-disabled: var(--color-disabled, var(--swatch-gray-20));

  --col-button: var(--color-button, var(--swatch-cyan-60));
  --col-button-hover: var(--color-button-hover, var(--swatch-cyan-70));
  --col-button-active: var(--color-button-active, var(--swatch-cyan-80));

  --col-button-primary:  var(--color-button-primary, var(--swatch-lime-50));
  --col-button-primary-hover:  var(--color-button-primary-hover, var(--swatch-lime-60));
  --col-button-primary-active:  var(--color-button-primary-active, var(--swatch-lime-70));

  --col-button-warning:  var(--color-button-warning, var(--swatch-red-50));
  --col-button-warning-hover:  var(--color-button-warning-hover, var(--swatch-red-60));
  --col-button-warning-active:  var(--color-button-warning-active, var(--swatch-red-70));

  --col-interactive:  var(--color-interactive, var(--swatch-cyan-40));
  --col-interactive-hover:  var(--color-interactive, var(--swatch-cyan-50));
  --col-interactive-actove:  var(--color-interactive, var(--swatch-cyan-60));

  }

* {
  margin: 0;
  padding: 0;
  color: var(--col-text);
  background: var(--col-background);
  box-sizing: border-box;
}

div, p, span, a, rt, rp, dfn, abbr, q, cite, em, time, var,
samp, i, b, sub, sup, small, strong, mark, ruby, ins, del,
bdi, bdo, s, kbd, wbr {
  font-family: Tahoma,Verdana,Segoe,sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: Tahoma,Verdana,Segoe,sans-serif;
}
